@model List<int>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Deployment CI/CD</h1>
    <h2 style="color:blue">@ViewData["SALUDO"]</h2>
    <img src="~/images/joker.jpg" style="width: 120px; height: 120px"/>
    <ul class="list-group">
        @foreach (int num in Model)
        {
            <li class="list-group-item">
                @num
            </li>
        }
    </ul>
    
</div>
